<!doctype html><meta charset=utf-8><meta http-equiv=x-ua-compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><link rel=preconnect href=https://fonts.gstatic.com><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel=stylesheet><link rel=stylesheet href=https://Dirout.github.io/mokk/assets/stylesheet.css><title>The Macro Output Key Kit (Mokk) Standard</title><h1>The Macro Output Key Kit (Mokk) Standard</h1><h2>Purpose</h2><p>A Macro Output Key Kit, acronymed as Mokk, is a collection of files.
These files contain human-readable data in the form of key-value pairs,
which allows the creation of mass output from the values referenced by the keys
in a kit, or collection of keys.<h2>Data management</h2><p>A Mokk file (which will be referred to as a File for the remainer of this document)
utilizes text templating to access data in an object-oriented manner. Often,
<code>.mokkf</code> files will contain ‘mustache-like’ tags:<blockquote><p><code>{{ page.year }}</code></blockquote><p>The first component is a ‘context’, which contains variables. These variables have names (keys)
and their data (values). In this case, the templating tag will output the value of the <code>year</code>
variable for the <code>page</code> context.<p>There are three primary contexts which comprise the Mokk standard:<ol><li><code>{{ global }}</code><li><code>{{ page }}</code><li><code>{{ collections }}</code></ol><p>Additionally exist the <code>{{ layout }}</code> and <code>{{ include }}</code> contexts, but these are not accessible
in most situations.<h3><code>{{ global }}</code></h3><p>This context is accessible across all Files in a Mokk, and is, as a result, called ‘the global context’.
It is defined within the <code>_global.yml</code> file at the root of every Mokk, written in human-readable YAML 1.2.
The only required variable within the global context is the <code>locale</code> variable, which defines how date & time
information is rendered. The locales are derived from the
<a href=https://sources.debian.org/src/glibc/latest/localedata/locales/>GNU C Library’s list of locales</a>.<blockquote><p><code>locale: "fr_FR"</code> would define Metropolitan French as the Mokk’s locale</blockquote><h3><code>{{ page }}</code></h3><p>Mokk files have a context of their own. Each File can be thought of as a Page comprised of a Document and metadata.
Following along with this abstraction, a Document can best be defined as whatever which has been written—the unrendered contents
of a File. In addition to metadata, such as a Page’s location or date-time information, a Document defines a Page.
The most important component of a Document is its ‘frontmatter’, data which provides information pertaining to the File.
Frontmatter is preceded and followed by three en dashes, each given a new line, at the top of the File, the contents being
accessible from the <code>{{ page.document }}</code> variable.<p>One can consider a simple Page as follows:<blockquote><pre><code>---
title: &quot;Hello, world!&quot;
---

{{ page.data.title }}
</code></pre></blockquote><p>Such a Page would be rendered as:<blockquote><p>“Hello, world!”</blockquote><h3><code>{{ collections }}</code></h3><p>Collections are for the categorization of Files, allowing the incorporation of several Files into one. The ‘collections’
context contains collections by name, which can be indexed:<blockquote><p><code>{{ collections["posts"] }}</code></blockquote><p>A File can be assigned to a collection by specifying a <code>collection</code> key in its frontmatter:<blockquote><pre><code>---
collection: posts
---
</code></pre></blockquote><p>The collection object is an iterable list, containing ‘raw’, or layout-less rendered copies of each File
within the collection the object represents. One notable use case would be for a blog, where posts can be assigned collections
and then presented on an index page which iterates through the collection.<blockquote><pre><code>---
title: Homepage for Blog
permalink: index.html
---
{% for post in collections[&quot;posts&quot;] %}
# {{ post.data.title }}
by {{ post.data.author }} \
{{ post.content }}
## END OF ARTICLE \
{% endfor %}
</code></pre></blockquote><h2>Layouts</h2><p>Layouts allow a Page to be embedded within a template. Layouts reside in the <code>layouts</code> folder within
a Mokk, and are defined in a page’s frontmatter. A layout’s data is contained within the <code>{{ layout }}</code>
context. Layouts may be within other layouts.<p><code>layouts/example_layout.mokkf</code>:<blockquote><pre><code>---
title: Example Layout
---
# {{ page.data.title }}
{{ page.content }}
</code></pre></blockquote><p><code>example_of_page_with_layout.mokkf</code>:<blockquote><pre><code>---
title: Example Page
---
Layout title: {{ layout.data.title }}
</code></pre></blockquote><p>Result:<blockquote><pre><code>&lt;h1&gt;Example Page&lt;/h1&gt;
Layout title: Example Layout
</code></pre></blockquote><h2>Snippets</h2><p>Snippets allow a file’s contents to be embedded within a File. Snippets reside in the <code>snippet</code> folder within
a Mokk, and are called as a Liquid tag.<blockquote><p><code>{% include SnippetFileToEmbed.filetype %}</code></blockquote><p>Optionally, arguments may be passed to a snippet, accessible within the snippet’s source as the <code>{{ include }}</code>
context.<p><code>snippets/example_snippet.html</code>:<blockquote><p><code>&lt;p>{{ include.myargument }}&lt;/p></code></blockquote><p><code>example_of_page_with_snippet.mokkf</code>:<blockquote><pre><code>…  
{% include example_snippet.html myargument=&quot;Bonjour, le monde!&quot; %}
…
</code></pre></blockquote><p>Result:<blockquote><pre><code>…
&lt;p&gt;Bonjour, le monde!&lt;/p&gt;
…
</code></pre></blockquote><h2>Languages</h2><h3><a href=https://yaml.org/spec/1.2/spec.html title='The "YAML Ain&#39;t Markup Language", or YAML™,  specification'>YAML 1.2</a></h3><p>Human readable data in Mokk Files is written in the YAML 1.2 data serialization language<h3><a href=https://spec.commonmark.org/current/ title="The CommonMark specification of Markdown">Markdown</a></h3><p>Document annotation in Mokk Files is written in the Markdown markup language<h3><a href=https://shopify.github.io/liquid/basics/introduction/ title="The Liquid tutorial">Liquid</a></h3><p>Tags, filters, and data placeholders in Mokk Files are written in the Liquid templating language